html, body {
    margin: 0;
    padding: 0;
}

body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 768px;
    height: 100%;
    /* background-color: lightgray; */
}

.component-container-left, .component-container-right {
    display: flex;
    flex-direction: row;
    margin: 5px;
    width: auto;
    /* background-color: aquamarine; */
}

.component-container-left {
    justify-content: flex-start;
    align-items: flex-start;
}

.component-container-right {
    justify-content: flex-end;
    align-items: center;
}

.component-container-element {
    margin: 5px;
}